/* idのcssは＃id名で始める
　　classは.class名で始める
*/


h1{
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
}

header{
  background-color: #efefef;
}

body{
  font-size:16px;
  font-family: Arial,sans-serif;
}

/* classのcss */
.container{
  width:1000px;
  margin:10px auto;
  position: relative;
}

.top-area{
    text-align: center;
}

.input-area{
  font-size:120px;
  text-align: center;
  margin-top:20px;
  margin-bottom:70px;
}

.result-area{
  background: #ffffff;
  width:800px;
  text-align: center;
  margin-left: 20px;
  padding:60px;
  height:200px;
  border: solid;
  border-radius: 10px;
  position: absolute;
}

.result{
font-size:18px;
 margin:10;
background-color: #efefef;
border: solid 3px #494848;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
}

/* idのcss */
#weight,#height{
  background: #f8f8f8;
  font-size:30px;
  text-align: center;
  padding:10px;
  width:140px;
  height: 80px;
  margin-right: 20px;
  border:solid;
  border-radius: 10px;
  display: inline-block;
}


#btn{
  margin:20px auto 0;
  width:120px;
  height:120px;
  border-radius: 50%;
  background: #EF454A;
  text-align: center;
  line-height:130px;
  color:#fff;
  font-size:16px;
  font-weight:40px;
  cursor:pointer;
  opacity:0.9;
  box-shadow: 0 10px 0 #D1483E;
  border:3px solid #D1483E;
  user-select:none;
  display: inline-block;
}

#btn:hover{
  opacity:1;
}

#btn.pushed{
  margin-top:16px;
  box-shadow: 0 4px 0 #D1483E;
}

